# Ignore the data directory and all its contents
data/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
env/
venv/
.myenv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore pytest cache
.pytest_cache/

# Ignore IDE specific files 
.vscode/
.idea/

# Ignore any other unwanted files or directories
*.log
.DS_Store

# Ignore replace_abbreviation.py file
**/replace_abbreviation.py

# Ignore NepaliKit egg-info directory
NepaliKit.egg-info/

# Ignore build/lib/NepaliKit directory
build/
lib/NepaliKit/

# Ignore dist directory
dist/
